[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mlflow = "==1.30.0"
tensorflow = "==2.8.2"
prefect = "==2.6.9"
scikit-learn = "*"
pillow = "*"
watchdog = "*"
dataclasses = "*"
seaborn = "*"
matplotlib = "*"

[dev-packages]

[requires]
python_version = "3.10"
